<a href="https://colab.research.google.com/github/sidd1311/Machine-Learning/blob/main/ML_exp_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns

In [ ]:
# Load Titanic dataset
df = sns.load_dataset('titanic')

In [ ]:
missing_values = df.isnull().sum()
print("Missing values in each column:\n", missing_values)

Missing values in each column:
 survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
num_survived = df['survived'].sum()
print("\nNumber of people survived:", num_survived)

Number of people survived: 342

In [ ]:
gender_survival = df[df['survived'] == 1]['sex'].value_counts()
print("\nNumber of male and female survivors:\n", gender_survival)

Number of male and female survivors:
 sex
female    233
male      109
Name: count, dtype: int64

In [ ]:
avg_age_survived = df[df['survived'] == 1]['age'].mean()
print("\nAverage age of survivors:", avg_age_survived)

Average age of survivors: 28.343689655172415

In [ ]:
min_age_survived = df[df['survived'] == 1]['age'].min()
max_age_survived = df[df['survived'] == 1]['age'].max()
print("\nMinimum age of survivors:", min_age_survived)
print("Maximum age of survivors:", max_age_survived)

Minimum age of survivors: 0.42
Maximum age of survivors: 80.0

In [ ]:
class_survival = df.groupby('class')['survived'].sum()
print("\nSurvival count based on class:\n", class_survival)

Survival count based on class:
 class
First     136
Second     87
Third     119
Name: survived, dtype: int64

<ipython-input-19-0471e5590d8c>:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  class_survival = df.groupby('class')['survived'].sum()

In [ ]:
num_sibsp = df[df['sibsp'] > 0]['sibsp'].count()
print("\nNumber of passengers with siblings/spouses:", num_sibsp)

Number of passengers with siblings/spouses: 283

In [ ]:
num_parch = df[df['parch'] > 0]['parch'].count()
print("\nNumber of passengers with parents/children:", num_parch)

SyntaxError: invalid non-printable character U+00A0 (<ipython-input-21-dde8a3df7a22>, line 2)